.basіс-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
    
  .gallery-header {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .gallery-content {
    display: flex;
    gap: 20px;
    justify-content: center;
}
  
  .gallery-group {
    display: flex;
    flex-direction: column;
}
  
  .gallery-item {
    flex: 1 1 100%;
    max-width: 100%;
    position: relative;
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  @media (max-width: 768px) {
    .gallery-content {
      display: flex;
      flex-direction: column;
    }
  
    .gallery-group.group-1 {
      order: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  
    .gallery-group.group-1 .gallery-item {
      flex: 1 1 48%; /* Дві картинки в ряд */
      max-width: 48%;
      margin-bottom: 10px;
    }
  
    .gallery-group.group-0 {
      order: 2;
      position: relative;
    }
  
    .gallery-group.group-0 .gallery-item {
      flex: 1 1 48%; /* Дві картинки в ряд */
      max-width: 48%;
      min-width: 48%; /* Додано для стабільності */
      position: relative;
      left: 0;
    }
  
    .gallery-group.group-2 {
      order: 3;
      position: relative;
    }
  
    .gallery-group.group-2 .gallery-item {
      flex: 1 1 48%; /* Дві картинки в ряд */
      max-width: 48%;
      min-width: 48%; /* Додано для стабільності */
      position: relative;
      left: 0;
    }
  }
  