.basic-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.gallery-header {
  text-align: center;
  margin-bottom: 10px;
}

.gallery-content {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.gallery__title{
  font-size: var(--font-size-title);
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  font-kerning: none;
  text-decoration: none;
}

.gallery__subtitle{
  font-size: var(--font-size-subtitle);
  margin: 5px 0 30px;
}

.gallery-group {
  display: flex;
  flex-direction: column;
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Стилі для кожного зображення, використовуючи унікальні класи */
.image-1-0 {
  max-width: 100%;
}

.image-1-1 {
  max-width: 100%;
}

/* Адаптивні стилі для маленьких екранів */
@media (max-width: 768px) {
  .gallery-content {
      flex-direction: column;
      align-items: center;
  }

  .gallery-group {
  }

  .gallery-group.group-1{
      display: flex;
      flex-direction: row; /* Розташовуємо картинки в ряд */
      justify-content: space-between;
      gap: 10px; /* Між картинками буде проміжок */
  }

  /* Зміна порядку елементів на маленьких екранах */
  .gallery-group.group-0 {
      order: 2; /* Змінюємо порядок групи */
  }

  .gallery-group.group-1 {
      order: 1; /* Група 1 буде на першому місці */
  }

  .gallery-group.group-2 {
      order: 3; /* Група 2 буде на третьому місці */
  }
}
