.basic-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.gallery-header {
  text-align: center;
  margin-bottom: 10px;
}

.gallery__title{
  font-size: var(--font-size-title);
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  font-kerning: none;
  text-decoration: none;
}

.gallery__subtitle{
  font-size: var(--font-size-subtitle);
  margin: 5px 0 30px;
}

.gallery-content {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: stretch; /* Вирівнює всі групи по однаковій висоті */

}

.gallery-group {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Відстань між зображеннями у групі */
}

/* Чітке налаштування ширини для кожної групи */
.gallery-group.group-0 {
  width: 35%; /* Перша група - більша */
}

.gallery-group.group-1 {
  width: 29%; /* Друга група - менша */
  display: flex;
  justify-content: space-between;
}

.gallery-group.group-2 {
  width: 35%; /* Третя група - більша */
}

.gallery-item img {
  width: 100%; /* Картинки займають всю ширину своєї групи */
  border-radius: 5px;
}

/* Адаптивні стилі для маленьких екранів */
@media (max-width: 768px) {
  .gallery-content {
      flex-direction: column;
      align-items: center;
  }

  .gallery-group.group-1{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 10px;
  }

  .gallery-group.group-0 {
    width: 100%; 
    order: 2;
  }
  
  .gallery-group.group-1 {
    flex-direction: column;
    width: 100%;
    order: 1;
  }

  .gallery-group.group-2 {
    width: 100%;
    order: 3;
  }
}
