.about-us {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.about-us__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.about-us__text-contain {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-us__title-desktop {
  font-family: var(--font-primary);
  font-size: var(--font-size-title);
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  font-kerning: none;
  text-decoration: none;
}

.about-us__subtitle {
  font-size: var(--font-size-subtitle);
  margin: 5px 0 30px;
}

.about-us__description {
  font-family: var(--font-primary);
  font-size: var(--font-size-description);
  color: #333;
  font-weight: 400;
  line-height: 1.2;
}

.about-us__image-desktop {
  width: 25%;
}

.about-us__image-desktop img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
}

.about-us__image_tablet-visible-tablet {
  display: none;
}

@media (max-width: 992px) {
  .about-us__container {
    flex-direction: column;
    align-items: center;
  }
  
  .about-us__text-contain {
    width: 100%;
    order: 1;
    margin-bottom: 40px;
  }

  .about-us__image_tablet-visible-tablet {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    order: 2;
  }

  .about-us__image_tablet-item {
    width: 45%;
  }

  .about-us__image_tablet-visible-tablet img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    border-radius: 10px;

  }  
  .about-us__image-desktop {
    display: none;
  }
}

@media (max-width: 600px) {
  .about-us__image_tablet-visible-tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .about-us__image_tablet-item img {
    height: 400px;
  }
}

