.about-us {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.about-us__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  flex-wrap: wrap; /* Дозволяє елементам переноситись */
}

.about-us__text-contain {
  width: 40%; /* Текст займає 40% ширини */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-us__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-us__subtitle {
  font-size: 18px;
  color: #555;
}

.about-us__description {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

.about-us__image-desktop {
  width: 30%; /* Картинки займають 30% ширини */
}

.about-us__image-desktop img {
  width: 100%;
  object-fit: cover;
}


.about-us__image_tablet-visible-tablet {
  display: none;
}

/* Адаптивні стилі */
  @media (max-width: 992px) {
    .about-us__container {
      flex-direction: column; /* Перемикання на вертикальний макет */
      align-items: center;
    }
  
    .about-us__text-contain {
      width: 100%; /* Текст займає всю ширину */
      order: 1; /* Текст зверху */
    }
  
    .about-us__image_tablet-visible-tablet {
      display: flex;
      width: 100%; /* Картинки займають всю ширину */
      order: 2; /* Картинки під текстом */
      gap: 10px; /* Відступ між картинками */
    }
  
    .about-us__image_tablet-visible-tablet img {
      width: 100%;
      object-fit: cover;
    }
  
    .about-us__image-desktop {
      display: none; /* Ховаємо зображення для великих екранів */
    }
  }
