.furniture-category-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px 0;
    position: relative;
}

.furniture-category-nav__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 90%;
    height: 450px;
    position: relative;
}

/* Стандартне розташування */
.furniture-category-nav__content:not(.reversed) {
    flex-direction: row;
}

/* Дзеркальне розташування */
.furniture-category-nav__content.reversed {
    flex-direction: row-reverse;
}

.furniture-category-nav__image {
    width: 600px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.furniture-category-nav__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Блок тексту */
.furniture-category-nav__text {
    background: rgba(62, 78, 89, 0.9);
    color: white;
    padding: 20px;
    max-width: 300px;
    border-radius: 10px;
    text-align: center;
    z-index: 2;
    position: absolute;
}
.furniture-category-nav__content:not(.reversed) .furniture-category-nav__text {
    right: 10px;
}

.furniture-category-nav__content.reversed .furniture-category-nav__text {
    left: 10px;
}


/* На маленьких екранах (до 768px) текст накладається на картинку */
@media (max-width: 768px) {
}
