/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


:root {
    /* Шрифти */
    --font-primary: 'Lato', sans-serif;
    --font-secondary: 'Playfair Display', serif;
  
    /* Розміри тексту */
    --font-size-main-title: calc(28px + 3.2vw);
    --font-size-title: calc(24px + 2.5vw);
    --font-size-subtitle: calc(18px + 1vw);
    --font-size-description: calc(12px + 1vw);
    --font-size-h1-tablet: 28px;
  
    /* Кольори */
    --primary-color: #007bff;
    --secondary-color: #6c757d;
  }
  








  /* Розміри шрифтів (font size), які використовуються на сайті, можуть залежати від цілей сайту, дизайну, зручності для користувачів і стандартів. Зазвичай використовуються такі стандартні розміри:

Основний текст (Body text):

Зазвичай 16px — це стандарт для читабельного тексту.
Може варіюватися від 14px до 18px, залежно від загального стилю сайту.
Заголовки (Headers):
Заголовки використовують більше значення, зазвичай зі спаданням у розмірах:

H1: 32px–48px (або більше для великих сторінок).
H2: 24px–36px.
H3: 20px–28px.
H4: 16px–24px.
H5, H6: менші, наприклад, 14px–20px.
Меню, підписи, посилання:

Меню навігації: 14px–18px.
Підписи або примітки: 12px–14px.
Мобільні пристрої:

Шрифти можуть бути трохи більшими для зручності читання, наприклад:
Основний текст: 16px–18px.
Заголовки: пропорційно більші.
Підказки (Tooltips), допоміжний текст:

Зазвичай 12px–14px. */
