
/* Основний стиль для контейнера */
.services {
  margin-bottom: 70px;
}

.services__heading{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__title{
  font-size: var(--font-size-title);
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  font-kerning: none;
  text-decoration: none;
}

.services__subtitle{
  font-size: var(--font-size-subtitle);
  margin: 5px 0 30px;
}

/* Обгортка для тексту та зображень */
.services__wrapper {
  display: flex;
  justify-content: space-evenly; /* Простір між елементами */
}

/* Стиль для списку */
.services__list-container {
}

.services__list {
  font-size: var(--font-size-description);
  display: flex;
  flex-direction: column; /* Список по замовчуванню вертикальний */
  gap: 10px;
}

/* Стиль для зображень */
.services__images {
  display: flex;
  gap: 15px;
}

/* Кожне зображення */
.services__images img {
  width: 280px;
  height: 450px;
}


/* Медіа-запит для маленьких екранів */
@media (max-width: 992px) {
  .services__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .services__list-container {
    display: flex;
    justify-content: center; 
    width: 100%;
    margin-bottom: 50px;
  }

  .services__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .services__images {
    order: 2;
    width: 100%;
    justify-content: center;
  }
}


@media (max-width: 600px) {
  .services__images {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
  }

  .services__image-item img {
    width: 300px;
    height: 500px;
  }
}

