@import '../../shared/styles/variables/fonts.css';

/* Основний стиль для контейнера */
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

.services__heading{
  font-size: var(--font-size-title);
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  font-kerning: none;
  text-decoration: none;
}

.services__subtitle{
  font-size: var(--font-size-subtitle);
  margin: 5px 0 30px;
}

/* Обгортка для тексту та зображень */
.services__wrapper {
  display: flex;
  justify-content: space-between; /* Простір між елементами */
  gap: 20px;
}

/* Стиль для списку */
.services__list-container {
  width: 100%; /* Список займає всю ширину */
}

.services__list {
  font-size: var(--font-size-description);
  display: flex;
  flex-direction: column; /* Список по замовчуванню вертикальний */
  gap: 10px;
  padding: 0;
  margin: 0;
}

/* Стиль для зображень */
.services__images {
  display: flex;
  gap: 15px;
  width: 100%; /* Зображення займають всю ширину на маленьких екранах */
  justify-content: center; /* Центруємо зображення */
}

/* Кожне зображення */
.services__images img {
  width: 300px;
  height: 500px;
}


/* Медіа-запит для маленьких екранів */
@media (max-width: 992px) {
  .services__wrapper {
    flex-direction: column; /* Текст та зображення по черзі */
    align-items: center; /* Центрування всіх елементів */
  }

  .services__list-container {
    display: flex; /* Використовуємо flexbox для центрування */
    justify-content: center; /* Горизонтальне центрування */
    width: 100%; /* Забезпечення повної ширини */
  }

  .services__list {
    display: flex; /* Використовуємо flexbox */
    flex-direction: column; /* Вертикальний список */
    align-items: center; /* Центруємо список по горизонталі */
    gap: 10px; /* Простір між пунктами списку */
  }

  .services__images {
    order: 2; /* Зображення з'являються після тексту */
    width: 100%; /* Зображення займають всю ширину */
  }
}


@media (max-width: 600px) {
  .services__images {
    display: flex; /* Використовуємо flexbox */
    flex-direction: column; /* Розташовуємо зображення вертикально */
    gap: 20px; /* Відступ між зображеннями */
    align-items: center; /* Центруємо зображення */
    width: 100%; /* Забезпечуємо повну ширину контейнера */
  }

  .services__image-item img {
    width: 300px; /* Зображення займає всю ширину контейнера */
    height: 500px; /* Пропорційна висота */
  }
}

