.header {
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #474747;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo img {
    height: 50px;
}

.burger-menu {
    display: none;
}

.header-checkbox {
    display: none;
}

.toggle {
    cursor: pointer;
}


.burger-menu {
    display: none;
    position: absolute;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
}

@media (max-width: 768px) {    
    .burger-menu {
        display: block;
    }

    .toggle {
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        transition-duration: .5s;
      }
      
      .bars {
        width: 100%;
        height: 4px;
        background-color: black;
        border-radius: 4px;
      }
      
      .bar2 {
        transition-duration: .8s;
      }
      
      .bar1, .bar3 {
        width: 70%;
      }
      
      input[type="checkbox"]:checked + .toggle .bars {
        position: absolute;
        transition-duration: .5s;
      }
      
      input[type="checkbox"]:checked + .toggle .bar2 {
        transform: scaleX(0);
        transition-duration: .5s;
      }
      
      input[type="checkbox"]:checked + .toggle .bar1 {
        width: 100%;
        transform: rotate(45deg);
        transition-duration: .5s;
      }
      
      input[type="checkbox"]:checked + .toggle .bar3 {
        width: 100%;
        transform: rotate(-45deg);
        transition-duration: .5s;
      }
      
      input[type="checkbox"]:checked + .toggle {
        transition-duration: .5s;
        transform: rotate(180deg);
      }
}