.footer {
    display: flex;
    justify-content: space-evenly;
    background: #acacac;
    padding: 100px 0;
}

.footer__title-heading{
    font-size: var(--font-size-title);
    font-family: var(--font-primary);
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    font-kerning: none;
    text-decoration: none;
    margin-bottom: 30px;
  }

.working-hours__heading{
    font-size: var(--font-size-title);
    font-family: var(--font-primary);
    text-transform: uppercase;
    font-style: normal;
    font-kerning: none;
    text-decoration: none;
    margin-bottom: 30px;
}

.footer__contact-list {
    list-style-type: none;
}

.footer__contact-item {
    background: #acacac;
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px 20px;
    margin-bottom: 10px;
    text-align: center;
}

.footer__contact-item img {
    width: 32px;
}

.footer__title-heading,
.working-hours__heading {
    font-size: 42px;
    text-align: center;
}

.footer__working-hours{
    text-align: center;
}

.working-hours__table {
    border: 2px solid black;
    border-radius: 50px;
    background: #cacaca;
    max-width: 320px;
    height: 170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.working-hours__cell {
    padding: 10px; /* Внутрішні відступи */
    font-size: 16px; /* Розмір тексту */
    font-weight: 500; /* Товщина тексту */
}


.working-hours__row td:nth-child(1) {
    text-align: center;
    font-weight: bold;
    color: #555;
}

.working-hours__row td:nth-child(2) {
    color: #333;
}

.footer__contact, .footer__working-hours {
    max-width: 500px;
}


@media (max-width: 992px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center; 
    }
    .footer__title{
        width: 90%;
        margin: 0 auto;
    }
    .footer__working-hours {
        order: 1;
        margin-bottom: 50px;
    }
    .footer__contact {
        order: 2;
    }
    
}
