.footer {
    display: flex;
    justify-content: space-evenly;
    background: #acacac;
    padding: 100px 0;
}

.footer__contact-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer__contact-item {
    background: #cacaca;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 10px;
    text-align: center;
}

.footer__contact-item img {
    width: 32px;
}

.footer__title-heading,
.working-hours__heading {
    font-size: 42px;
    text-align: center;
}

.working-hours__table {
    border-radius: 10px;
    background: #cacaca;
    width: 100%;
    border-collapse: separate;
    border-spacing: 20px 10px;
    margin: 0 auto;
}

.working-hours__row td:nth-child(1) {
    text-align: center;
    font-weight: bold;
    color: #555;
}

.working-hours__row td:nth-child(2) {
    color: #333;
}

@media (max-width: 992px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center; 
    }

    .footer__contact, .footer__working-hours {
        width: 100%;
        max-width: 400px;
    }

    .working-hours__table {
        width: auto;
    }
}
